version: '2'

services:

  traefik:
    image: traefik
    command: --web --docker --docker.exposedbydefault=false
    restart: always
    ports:
      - 80:80
      - 443:443
      - 9080:8080
    networks:
      - web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/traefik.toml
    container_name: traefik

networks:
  web:
    external: true
